* {
    box-sizing: border-box;
    margin: 0;
    bottom: 0;
}

body{
    margin-left: 15px;
    margin-right: 15px;
}

.href2{
    color: white;
    text-decoration: none;
}

.contener {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}


.navbar {
    list-style: none;
    display: flex;
    gap: 40px;
    width: 100%;
    background-color: #40464F;
    color: #ffffff;
    height: 50px;
    width: 100%;
    padding: 20px 30px;
}

.tetx {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20;

}

.imgem {
    display: flex;
    align-items: end;
    gap: 20px;
    background-color: #40464F;
    height: 50px;
    padding: 15px 10px;
}

.insta {
    font-size: 30px;
    color: white;
}

/* malumot */
.color {
    background-color: #40464F;
    width: 100%;
    padding: 35px 50px;
}

.color p {
    color: #ffffff;
}


.restaran {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding-bottom: 55px;
}

.saze {
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-size: 80px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.tetx7 {
    padding-bottom: 25px;
    text-align: center;
    padding: 175px 25px;
}

.btn {
    margin-top: 35px;
    width: 150px;
    height: 60px;
    color: white;
    background-color: #E1B168;
}

.btn:hover {
    background-color: rgba(197, 119, 18, 0.849);
}

/* bolim */
.lakatsiya {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 80px;
}

.lakatsiya h3 {
    font-weight: bolder;
    font-size: 25px;
}

.lakatsiya p {
    font-size: 20px;
}

.lakatsiya img {
    width: 90px;
}

/* 2 bolim */
.story {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 46px;

    padding-bottom: 100px;
    padding-left: 45px;
    padding-right: 45px;
}

.story h2 {
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.story p {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
}

.happil {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
}

.story img {
    margin-top: 70px;
    margin-left: 25px;
    margin-right: 60px;
    margin-bottom: 85px;
    padding-top: 24px;
    padding-bottom: 60px;
    width: 100%;
}

/* menyou */
.menyou {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 50px;
    padding-left: 100px;
    padding-right: 200px;
}

.Special h3 {
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
}

.al {
    padding: 20px 57px;
    margin-top: 60px;
    color: #E1B168;
    border-color: #E1B168;
}



.testimonials {
    text-align: center;
    padding: 60px 20px;
    background-color: #40464F;
    margin-top: 30px;
    width: 100;
    margin-left: 15px;
    margin-right: 15px;
}

.testimonials .tag {
    font-size: 14px;
    color: #c8a97e;
    letter-spacing: 2px;
    text-transform: uppercase;
    
}

.testimonials .title {
    font-size: 32px;
    margin: 0;
}

.testimonials .subtitle {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #2d3440;
    /* kartochka rangi */
    padding: 20px;
    border-radius: 12px;
    max-width: 300px;
    text-align: left;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card h3 {
    margin: 0;
    font-size: 18px;
}

.card .location {
    display: block;
    color: #c8a97e;
    font-size: 14px;
    margin-bottom: 15px;
}

.review {
    font-size: 14px;
    color: #ddd;
    line-height: 1.6;
}

/* fututr */
.background {
  background: url('https://images.unsplash.com/photo-1528605248644-14dd04022da1?auto=format&fit=crop&w=1950&q=80') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
margin-top: 5px;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reservation-box {
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  text-align: center;
  max-width: 600px;
  width: 90%;
  color: #fff;
}

.subtitle {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  margin-bottom: 10px;
}

.title {
  font-size: 28px;
  margin-bottom: 30px;
  font-weight: 400;
}

.form-row {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.form-row input {
  flex: 1;
  padding: 10px;
  background: transparent;
  border: 1px solid #aaa;
  color: #fff;
  outline: none;
}

.form-row input::placeholder {
  color: #ccc;
}

.btn2 {
  background: #fff;
  color: #000;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.btn2:hover {
  background: #f0c14b;
}